<div class="beer-card">
    <div class="beer-card-img-container">
        <img class="beer-card-img" src="{{this.image_url}}" alt="beer image">
    </div>
    <h3>{{this.name}}</h3>
    <p class="beer-card-tagline">{{this.tagline}}</p>
    <p class="beer-card-description">{{this.description}}</p>
</div>