<div id="home-main">
    <img class="beer-image" src="/images/beer.png" alt="beer">
    <a href="/beers" class="home-button">Check the Beers!</a>
    <a href="/random-beer" class="home-button">Check a Random Beer!</a>
</div>